html {
  font-size: 62.5%;
  color: #222;
}
::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.items {
  background-color: #7092BE;
  display: block;
  width: 18rem;
  margin: 2px auto;
  padding: 5px;
  line-height: 1.5rem;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
}
.items span {
  line-height: 1.5rem;
  height: 2rem;
  color: white;
}
.items:hover {
  color: #fff;
}
.items ul {
  display: none;
  margin: 3px auto;
}
.items ul li {
  line-height: 1.8rem;
  position: relative;
}
.items ul li.selected {
  color: black;
}
.items ul li.selected::before {
  content: '';
  position: absolute;
  border-color: #009933;
  border-style: solid;
  border-width: 0 0.3em 0.25em 0;
  height: 1em;
  top: 1.3em;
  left: 0.6em;
  margin-top: -1.3em;
  transform: rotate(45deg);
  width: 0.5em;
}
.items ul li:hover {
  background-color: deepskyblue;
}
.items:hover ul {
  display: block;
  background-color: skyblue;
}
