section {
  background-color: lightsteelblue;
  margin: 5px;
  padding: 5px;
}
#map .img {
  background: url('../image/flower.jpg') no-repeat center center;
  position: relative;
  width: 800px;
  height: 669px;
}
#map .img .nav {
  float: right;
  padding: 0;
  margin: 10px;
}
#map .img .nav li {
  list-style: none;
  cursor: pointer;
}
#map .img .nav li a {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
}
#map .img .nav li a .tip {
  display: none;
}
#map .img .nav li:hover {
  border: solid 1px palevioletred;
  background-color: rgba(200, 100, 200, 0.4);
}
#map .img .nav li:hover a {
  border: solid 1px palevioletred;
  background-color: rgba(200, 100, 200, 0.4);
}
#map .img .nav li:hover .tip {
  display: block;
}
#map .img .nav li.no1 a {
  top: 80px;
  left: 150px;
  width: 160px;
  height: 210px;
}
#map .img .nav li.no2 a {
  top: 80px;
  left: 430px;
  width: 200px;
  height: 200px;
}
#map .img .nav li.no3 a {
  left: 510px;
  top: 430px;
  width: 100px;
  height: 100px;
}
